.headerFooterColor{
    background-color: rgb(86, 187, 255);
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.centerTable{
    margin-left: auto;
    margin-right: auto;
}

.errMsg{
    color: red;
}

.mt-13 {
    margin-top: 13rem !important;
}