.headerFooterColor{
    background-color: rgb(86, 187, 255);
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.errMsg{
    color: red;
}

.centerTable{
    margin-left: auto;
    margin-right: auto;
}

.pointer{
    cursor: pointer;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mb-7{
    margin-bottom: 7rem !important;
}