.headerFooterColor{
    background-color: rgb(86, 187, 255);
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.errMsg{
    color: red;
}

.pointer{
    cursor: pointer;
}

.myCanvas{
    padding-left: 0;
    padding-right: 0;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem !important;
    display: block;
    background: url('../../assets/floor tile.png');
}